<!--

<h1>Furniture</h1>



<em><%= pluralize @furnitures.count, 'items' %> found in system.</em>


<table border="1px">
  <thead>
    <tr>

      <th>img_file</th>
      <th>pid</th>
      <th>item</th>
      <th>description</th>
      <th>price</th>
      <th>condition</th>
      <th>quantity</th>

    </tr>
  </thead>
  <tbody>

    <% @furnitures.each do |furniture| if furniture.quantity.to_i > 0 %>


      <tr>
        <td><%= image_tag furniture.img_file %></td>
        <td><%= link_to "#{furniture.pid}", "furniture/#{furniture.pid}/"%></td>
        <td><%= furniture.item %></td>
        <td><%= furniture.description %></td>
        <td>$<%= furniture.price %></td>
        <td><%= furniture.condition %></td>
        <td><%= furniture.quantity %></td>
      </tr>
<% end %>
    <% end %>

  </tbody>
</table>
 -->




<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Furniture
                <small>summer madness sale!!! 10-20% off select items</small>
            </h1>
        </div>
    </div>

    <!-- /.row -->
    <div class ="flexer">

    <!-- Projects Row -->

      <div class="row">

        <% @furnitures.each do |furniture| if furniture.quantity.to_i > 0 %>
        <div class="col-md-4 portfolio-item">


                <%= link_to(image_tag(furniture.img_file, :title => "Home"), "furniture/#{furniture.pid}/") %>
                <h3><%  @futniture %> </h3>
            <h4> <%=link_to furniture.item, "furniture/#{furniture.pid}/"%></h4>
            <h6><%= furniture.ldisc %></h6>
            <h5>Price: $<%= furniture.price %></h5>
            <p><%=truncate furniture.description, length: 160 %></p>

        </div>
        <% end %>
            <% end %>

      </div>


    </div>
    <!-- /.row -->



    <!-- /.row -->

    <hr>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Mallory's Furniture</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="assets/javascripts/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="assets/javascripts/bootstrap.min.js"></script>
